/* app css stylesheet */
/*=================NAVBAR=================*/
.navbar {
  background-color: #AB0008;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav >
.active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: black;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.btn-default {
  color: white;
  background-color: black;
  border-color: gray;
}

/*=================SHOP PRODUCTS=================*/
.products {
  height: 470px;
}

.thumbnail > img.product-image {
  height: 220px;
  width: 240px;
}

/*=================BASKET=================*/
.discount-button {
  width: 420px;
}
