/* app css stylesheet */
/*=================NAVBAR=================*/
.navbar {
  background-color: #AB0008;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav >
.active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: black;
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.btn-default {
  color: white;
  background-color: black;
  border-color: gray;
}

/*=================SHOP PRODUCTS=================*/
.products {
  height: 35em;
}

.thumbnail > img.product-image {
  height: 18em;
}

/*=================BASKET=================*/
.discount-button {
  width: 100%;
  padding: 0.4em;
  margin: 0.8em 0em;
}
