<div class="row">
  <div class="col-sm-8 products">
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>{{stockMessage}}</strong>
    </div>
    <div class="col-sm-6 col-md-4 products" ng-repeat="product in products | filter:search">
      <div class="thumbnail">
        <img class="product-image" src="{{product.imageUrl}}">
        <div class="caption">
          <h4>{{product.name}}</h4>
          <p>{{product.description}}</p>
          <p><strong>{{product.price | currency:'£'}}</strong></p>
          <p>{{product.category}}</p>
          <p>Stock left: {{product.quantity}}</p>
          <p><a href ng-click="addItem($index)" class="btn btn-danger add-to-basket" role="button">Add to Basket</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 basket">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title total">Your Basket | Total: {{getTotal() | currency:'£'}}</h3>
      </div>
      <div class="panel-body">
        <table class="table"  ng-repeat="item in basket track by $index">
          <tr>
            <td>{{item.name}} : {{item.price | currency:'£'}}</td>
            <td ng-model="item.desiredQuantity" ng-init="item.desiredQuantity = 1">{{item.desiredQuantity}}</td>
            <td><a href ng-click="removeItem($index)" class="btn btn-danger btn-sm remove-from-basket" role="button">Remove</a></td>
          </tr>
        <table>
        <table class="table" ng-show="displayDiscount">
          <h5 ng-show="displayDiscount">Apply a voucher: </h5>
          <tr>
            <td>
              <a href ng-click="applyVoucher(vouchers[0].value)" class="btn btn-danger btn-sm discount-button" role="button">{{vouchers[0].name}}</a>
              <a href ng-click="applyVoucher(vouchers[1].value)" ng-disabled="displayTen" class="btn btn-danger btn-sm discount-button" role="button">{{vouchers[1].name}}</a>
              <a href ng-click="applyVoucher(vouchers[2].value)" ng-disabled="displayFifteen" class="btn btn-danger btn-sm discount-button" role="button">{{vouchers[2].name}}</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
