<div class="row">
  <div class="col-sm-8">
    <div class="col-sm-6 col-md-4 products" ng-repeat="product in products | filter:search | orderBy: 'category'">
      <div class="thumbnail">
        <img src="{{product.imageUrl}}">
        <div class="caption">
          <h4>{{product.name}}</h4>
          <p>{{product.description}}</p>
          <p><strong>{{product.price | currency:'£'}}</strong></p>
          <p><a href class="btn btn-primary add-to-basket" role="button">Add to Basket</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Your Basket</h3>
      </div>
      <div class="panel-body">
        <table class="table"></table>
      </div>
    </div>
  </div>
</div>
